# Flutter SDK (if placed inside project)
flutter/

# Dart/Flutter build outputs
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart

# Android build
android/.gradle/
android/local.properties
android/key.properties

# iOS build
ios/Pods/
ios/.symlinks/

# IDE
.idea/
.vscode/
*.iml
